@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

img {
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    background: #1f2937;
    flex-direction: column;
    padding: 8px 200px 125px;
}

.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
    padding: 0;
}

.one-text {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.links {
    display: flex;
    align-items: center;
    gap: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.two {
    display: flex;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.two-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    padding-right: 150px;
}

.two-container .signup {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    padding: 6px 32px;
    border-radius: 8px;
    font-size: 18px;
}

.two-text {
    font-size: 18px;
    color: lightgray;
}

.profile-image {
    font-size: 18px;
    color: white;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    background: lightgray;
}

.information {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 125px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    align-self: center;
    padding: 32px;
}

.three {
    display: flex;
    gap: 60px;
}

.box-one, .box-two,
.box-three, .box-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    gap: 8px;
}

.image-one, .image-two,
.image-three, .image-four {
    display: flex;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 4px solid #3882f6;
    background: white;
}

.text {
    display: flex;
    color: gray;
    text-align: center;
}

.inspiration {
    display: flex;
    background: #e5e7eb;
}

.four {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 100px 325px;
    gap: 4px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    text-align: right;
    padding-right: 48px;
}

.action {
    background: white;
    display: flex;
}

.five {
    display: flex;
    flex: 1;
    background: #3882f6;
    padding: 50px 100px;
    margin: 100px 200px;
    border-radius: 8px;
    gap: 150px;
}

.five-content {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.five-header {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.five-text {
    font-size: 18px;
    font-weight: lighter;
    color: lightgrey;
}

.five-button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.five .signup {
    background: #3882f6;
    border: 2px solid white;
    color: white;
    padding: 4px 32px;
    border-radius: 8px;
    font-size: 18px;
}

.footer {
    display: flex;
    background: #1f2937;
    font-size: 18px;
    font-weight: lighter;
    color: white;
    margin: 0;
    padding: 32px;
    justify-content: center;
}